services:
  minecraft:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "24454:24454/udp"
    env_file:
      - minecraft.env
    environment:
      EULA: "TRUE"
      INIT_MEMORY: 4G
      MAX_MEMORY: 14G
      JVM_XX_OPTS: "-XX:+AlwaysPreTouch -XX:+ParallelRefProcEnabled -XX:ParallelGCThreads=6 -XX:+PerfDisableSharedMem -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+UseZGC"
      ENABLE_ROLLING_LOGS: true
      VERSION: "1.21.1"
      TYPE: NEOFORGE
      NEOFORGE_VERSION: 21.1.216
      SERVER_NAME: "Insula Voxum"
      MOTD: "Slay"
      DIFFICULTY: normal
      ICON: "server-icon.jpg"
      OVERRIDE_ICON: true
      MAX_PLAYERS: 8
      FORCE_GAMEMODE: true
      SPAWN_PROTECTION: 4
      MODE: survival
      VIEW_DISTANCE: 24
      ENABLE_WHITELIST: true
    volumes:
      - type: volume
        source: minecraft-data
        target: /data
  bluemap:
    image: ghcr.io/bluemap-minecraft/bluemap:v5.13
    command: -r -u -w
    ports:
      - "8100:8100"
    depends_on:
      - minecraft
    volumes:
      - type: volume
        source: minecraft-data
        target: /app/world
        read_only: true
        volume:
          subpath: world
      - type: volume
        source: bluemap-data
        target: /app/data
      - type: volume
        source: bluemap-config
        target: /app/config
      - type: volume
        source: bluemap-web
        target: /app/web
volumes:
  minecraft-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/minecraft
  bluemap-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/bluemap/config
  bluemap-web:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/bluemap/web
  bluemap-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/bluemap/data

